.App {
  background-color: lightGray;
  width: 100vw;
  height: 100vh;
}

.App-header {
  height: 8ex;
  margin: 0 1em 1em 1em;
  padding: 1em 0 0 0;
}

.App-title {
  margin: 0;

  font-size: 1.5em;
  color: black;
}

.App-version {
  color: darkGray;
}


.wrapper {
  margin: 0 1em 1em 0;
  position: absolute;
  top: 10ex;
  bottom: 0;
  left: 0;
  right: 0;
}
.wrapper > * {
  margin: 1em;
  background-color: white;
}
@supports (display: flex) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  }
  .wrapper > * {
    margin: 1em 0 0 1em;
    border: solid 3px darkGray;
  }

  .ProviderCreate {
    flex: 1 1 auto;
  }

  .ProviderList{
    flex: 10 1 auto;
  }
}

.ProviderCreate {
  width: 20em;
}

.ProviderList{
  width: 25em;
}
