.ProviderList {
    padding: 1em;
}

div.provider {
    padding: 1em;
}

div.provider:nth-child(even) {
    background-color: lightGray;
}


.flex-row {
    /* styling for old browsers goes here */
}
.flex-row > * {
    /* styling for old browsers goes here */
}

@supports (display: flex) {
    .flex-row {
        display: flex;
        align-content: stretch;
    }
    .flex-row > * {
        flex: 1 1 auto;
    }
}

.delete-box {
    width: 2em;
    flex: 0 1 auto;
}

.provider-name {
    font-weight: bold;
}

.secondary-info {
    font-size: smaller;
}

.text-align-right {
    text-align: right;
}


.ProviderList button {
    position: absolute;
    bottom: 1em;
    right: 1em;

    font-size: 16pt;
}
