.ProviderList {
    padding: 1em;
}

div.provider {
    padding: 1em;
}

div.provider:nth-child(even) {
    background-color: lightGray;
}


.flex-row {
    /* styling for old browsers goes here */
}
.flex-row > * {
    /* styling for old browsers goes here */
}
.flex-row > *:last-child {
    text-align: right;
}

@supports (display: flex) {
    .flex-row {
        display: flex;
        align-content: stretch;
    }
    .flex-row > * {
        flex: 1 1 auto;
    }
}

.provider-name {
    font-weight: bold;
}

.secondary-info {
    font-size: smaller;
}